{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{planetoid.designation}}</title>
{% endblock %}

{% block three_script %}
<script id="display1" type="module" src="{% static 'scripts/threejs.js' %}" defer></script>
<script type="module" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="module" src="{% static 'scripts/star.js' %}" defer></script>
{% endblock %}

{% block body %}
<div id="planetView">
    {% if user.is_authenticated and user.id == system.discoverer.id%}
    <div id="editPop">
    <H1>Edit Planetoid {{planetoid.name}}</H1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit">Confirm</button>
                <button class="cancelButton" type="button">Cancel</button>
            </div>
        </form>
    </div>
    {% endif %}
    <div id="planetDetail">
        <h1>{{planetoid.body_type}} designation: {{planetoid.designation}}</h1>
        <h1>{{planetoid.body_type}} name: {{planetoid.name}}</h1>
        <button id="systemEditButton" type="button">edit</button>
        <div id="THREEJS1"></div>
        <h2>Planet type: {{planetoid.body_type}}</h2>
        <h2>Mass: {{planetoid.mass}} M🜨</h2>
        <a href="{% url 'System_View' system.id %}"><h2>Star System:{{system.designation}}</h2></a>
        <a href="{% url 'profile' discoverer.username %}"><h2>Discovered by: {{discoverer.username}}</h2></a>
    </div>



</div>
{% endblock %}