{% extends 'base.html' %}

{% block body %}
<div id="discoveries">
  <a href="{% url 'System_Create' %}">
    <h3>Explore Nearby Systems</h3>
  </a>
  <a href="{% url 'Systems_List' %}">
    <h3>View Discovered Systems</h3>
  </a>

  <h1>{{ username }}'s discoveries:</h1>
    
  <div id="cardDisplay">
    {% for system in systems %}
    <div class="systemCard">
      <a href="{% url 'System_View' system.id %}">
        <p>{{system.designation}}</p>
        <h2>{{ system.name }}</h2>
        <p>{{system.system_type}}</p>
      </a>
    </div>

    {% endfor %}
  </div>
</div>
{% endblock %}