{% extends 'base.html' %}

{% block title %}
<title>Launch a Probe</title>
{% endblock %}

{% block body %}
    <div id="searchHeader">
        <h1>Systems Search</h1>
        <form>
            <div>
                <input type="text" name="search" placeholder="search for systems"/>
                <input type="submit" value="Search"/>
            </div>
        </form>
    </div>
    <div id="cardDisplay">
    {% for system in systems %}
    <div class="systemCard">
        <a href="{% url 'System_View' system.id %}">
            <p>{{system.designation}}</p>
            <h2>{{system.name}}</h2>
            <p>{{system.system_type}}</p>
        </a>
        <a href='/user/{{system.discoverer.username}}'>
            <p>{{system.discoverer.username}}</p>
        </a>
    </div>
        {% endfor %}
    </div>
{% endblock %}